﻿<!DOCTYPE html>
<html class="no-js" ng-app="app" ng-controller="appCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{app.title}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<script src="scripts/libs/modernizr.js"></script>

	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="styles/main.css">

	<!-- AngualrJS - if CDN unavailable, load from local -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
	<script>typeof window.angular !== 'undefined' || document.write('<script src="scripts/libs/angular-1.2.22.min.js">\x3C/script>')</script>
	<!-- app scripts -->
	<script src="scripts/app.js"></script>
</head>
<body>
	{{> body}}
</body>
</html>
